<!-- Import Header -->
<%- include('components/header.ejs') %>

<!-- Body content -->
<div>
  <!-- Cover -->
  <div class="home-cover">
    <h1 class="display-4 fw-bold">Dashboard</h1>
    <p class="lead mb-4">Drive Test Booking Kiosk</p>
  </div>

  <!-- Description -->
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-6 fw-bold">You can book G2/G test from this kiosk</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">You can book G2/G test from this kiosk</p>
    </div>
  </div>
</div>

<!-- Import Footer -->
<%- include('components/footer.ejs') %>
