body {
  background-color: #ececec;
}

nav {
  text-transform: uppercase;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  background: white;
  border-radius: 18px;
  margin: 20px auto;
  padding: 30px;
}

.home-cover {
  display: flex;
  height: 40svh;
  background-color: darkgray;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.home-cover {
  display: flex;
  flex-direction: column;
}

#gCarInfo,
#gUserInfo {
  visibility: hidden;
}

.fetch-cta-block {
  display: flex;
  align-items: flex-end;
}

.error-message {
  color: red;
}
